<section id="agregar">




  <div class="form">
    <mat-card>
      <mat-card-title>Agregar Empleado</mat-card-title>
      <br>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="guardar($event)">

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="legacy">
                <mat-label>Primer Nombre</mat-label>
                <input type="text" matInput placeholder="digite su primer nombre" formControlName="p_nombre"
                  pattern="^[A-Za-z\s]+$">
              </mat-form-field>
              <div class="alert-danger"
                *ngIf="this.form.get('p_nombre')?.invalid &&  this.form.get('p_nombre')?.touched">
                <div class="alert-danger" style="margin-bottom: 5px;">
                  EL nombre es requerido y se permiten solo letras
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="legacy">
                <mat-label>Segundo Nombre</mat-label>
                <input type="text" matInput placeholder="digite su segundo nombre" formControlName="s_nombre"
                  pattern="^[A-Za-z\s]+$">
              </mat-form-field>
              <div class="alert-danger" *ngIf="this.form.get('s_nombre').invalid && this.form.get('s_nombre').touched ">
                <div class="alert-danger">
                  el segundo nombre es requerido y se aceptan solo letras sin acentos
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="legacy">
                <mat-label>Primer Apellido</mat-label>
                <input type="text" matInput placeholder="digite su primer apellido" formControlName="p_apellido"
                  pattern="^[A-Za-z\s]+$">
              </mat-form-field>
              <div class="alert-danger"
                *ngIf="this.form.get('p_apellido').invalid && this.form.get('p_apellido').touched ">
                <div class="alert-danger">
                  el segundo nombre es requerido y se aceptan solo letras sin acentos
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="legacy">
                <mat-label>Segundo Apellido</mat-label>
                <input type="text" matInput placeholder="digite su segundo apellido" formControlName="s_apellido"
                  pattern="^[A-Za-z\s]+$">
              </mat-form-field>
              <div class="alert-danger"
                *ngIf="this.form.get('s_apellido').invalid && this.form.get('s_apellido')?.touched">
                <div class="alert-danger">el segundo nombre es requerido</div>
              </div>
            </div>
          </div>



          <mat-form-field appearance="legacy">
            <mat-label>Pais</mat-label>
            <mat-select formControlName="pais">
              <mat-option>Seleccione</mat-option>
              <mat-option value="COLOMBIA">COLOMBIA</mat-option>
              <mat-option value="ESTADOS UNIDOS">U.S.A</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>Tipo de Identificacion</mat-label>
            <mat-select formControlName="t_identificacion">
              <mat-option value="">Seleccione</mat-option>
              <mat-option value="CEDULA DE CIUDADANIA">CEDULA DE CIUDADANIA</mat-option>
              <mat-option value="PERMISO ESPECIAL">PERMISO ESPECIAL</mat-option>
              <mat-option value="PASAPORTE">PASAPORTE</mat-option>
              <mat-option value="CEDULA DE EXTRANJERIA">CEDULA DE EXTRANJERIA</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="legacy">
            <mat-label>N° de Indetificacion</mat-label>
            <input type="number" matInput formControlName="n_identificacion" placeholder="# de identificacion">
          </mat-form-field>
          <div class="alert-danger"
            *ngIf="this.form.get('n_identificacion').invalid && this.form.get('n_identificacion')?.touched">
            <p class="alert-danger">Digite solo Numero</p>
            <p class="alert-danger"># de documento requerido</p>
          </div>

          <mat-form-field appearance="legacy">
            <mat-label>Areas</mat-label>
            <mat-select formControlName="area">
              <mat-option *ngFor="let item of listAreas" value="{{item.nombre}}">{{item.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Fecha de Ingreso</mat-label>
            <input matInput formControlName="f_ingreso" [matDatepicker]="fecha">
            <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
            <mat-datepicker #fecha></mat-datepicker>
          </mat-form-field>

          <div
            style="margin: 0px auto; align-items: center; text-align: center; display: flex; justify-content: space-around">

            <button mat-raised-button color="primary" style="margin: 5px;" title="regresar"> <i
                class="fa fa-save"></i> </button>
            <a mat-raised-button color="warn"  routerLink="/"> <i class="fa fa-backward"></i> </a>
          </div>

        </form>
      </mat-card-content>

    </mat-card>

  </div>

</section>
