<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div>
          <img src="../../../assets/img/cidenet-logo-100.png" alt="">
        </div>
      </div>
      <div class="col-md-8">
        <div class="menu">


        </div>
      </div>
    </div>
  </div>
</header>
