:root {
  --main-color: #0083a9 !important;
  --second-color: #ffffff !important;
}

/****************************** CABECERA O HEADER *****************/

#header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
}
.menu{
  padding: 1rem;
}
.menu a{
  text-decoration: none;
  padding: 1rem;
  color: #ffffff;
  cursor: pointer;
}
.menu a:hover{
  background-color: #ffffff;
  color: var(--main-color);
  border-radius: 10px;
}
