<div class="principal">


  <div class="buscar">

    <div class="form-group">
      <label style="font-weight: bold; font-size:20px ">Puedes buscar una persona.. escribe algun dato</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <input type="text" name="buscarPorNombre" placeholder="buscar empleado" [(ngModel)]="buscarEmpleado"
          class="form-control">
      </div>
    </div>

    <div class="section">
      <a mat-raised-button color="primary" [routerLink]="['/agregar']">
        <fa-icon [icon]="faUserPlus"></fa-icon>
      </a>
    </div>

  </div>

  <div class="list-table  mat-elevation-z8">

    <table class="table table-bordered">
      <thead>
        <th>No</th>
        <th>Indetificacion</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Correo</th>
        <th>Estado</th>
        <th>Area</th>
        <th>Nacionalidad</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of lista_empleado | buscarPorNombre:buscarEmpleado  ; let i = index">
          <td>{{ i + 1}}</td>
          <td>{{item.n_identificacion}}</td>
          <td>{{item.p_nombre }} {{item.s_nombre}}</td>
          <td>{{item.p_apellido}} {{item.s_apellido}}</td>
          <td>{{item.correo}}</td>
          <td>{{item.estado}}</td>
          <td>{{item.area}}</td>
          <td>{{item.pais}}</td>
          <td>
            <a type="button" mat-raised-button color="primary" style="margin: 5px;" [routerLink]="['/editar',item._id]">
              <fa-icon [icon]="faEdit"></fa-icon>
            </a>
            <button type="button" mat-raised-button color="warn" (click)="eliminar(item._id,$event)"> Eliminar </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>



</div>
