.principal{
  height: 1200px !important;
}

.list-table {
  margin-top: 50px !important;
  margin: 0px auto;
  display: block;
  width: 95%;
  margin-bottom: 50px;
}

.list-table table {
  padding: 1rem;
  width: 100%;

}
th {
  margin: 10px;
}

.buscar {
  padding: 3rem;
  border: 1px solid transparent;
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
