/* You can add global styles to this file, and also import other style files */
:root {
  --main-font: san-serif;
  --font-size: 16;
  --main-color: #0083a9;
  --container-width: 1200px;
}

html {
  box-sizing: border-box !important;
  font-family: var(--main-font) !important;
  font-size: var(--font-size) !important;
  scroll-behavior: smooth !important;
}

*,
*:after,
*:before {
  box-sizing: border-box !important;
}
body {
  margin: 0 !important;
  overflow-x: hidden !important;
}
img {
  max-width: 100% !important;
  height: auto !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-form-field-infix{
  position: inherit !important;
}
