#edit{
  margin-top: 50px;
}

.form {

  width: 70%;
  height: auto;
  border: 1px solid transparent;
  padding: 2rem;
  box-shadow: 0px 0px 5px black;
  margin: 0px auto;
  background-color: var(--main-color);
}



form input{
  text-transform: uppercase !important;
}

form mat-form-field {
  width: 100%;
}

.full-width {
  width: 100%;
}

.opciones{
  display: flex;
  flex-direction: column;
}

.regresar{
  width: 100px;
  float: right;
  padding: 10px;
  margin: 10px;
}
